img{
    width: 200px;
    height: 200px;
}

.model img{
    width: 40%;
    height: 400px;
    margin: 0px auto;
    margin-left: 10%;
    margin-top: -100px;
}

.model .icon{
    width: 30px;
    height: 20px;
    position: relative;
    top: -450px;
    left: 800px;
}